<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lost_found_backend.mapper.CollectionMapper">

    <resultMap id="collectionMap" type="com.example.lost_found_backend.entity.Collection">
        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="user_openid" property="userOpenid"/>
        <result column="create_time" property="createTime"/>
        <result column="item_title" property="itemTitle"/>
        <result column="item_type" property="itemType"/>
        <result column="item_status" property="itemStatus"/>
        <result column="item_image_urls" property="itemImageUrls"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `collection` (item_id, user_openid, create_time)
        VALUES (#{itemId}, #{userOpenid}, NOW())
    </insert>

    <delete id="deleteByItemAndUser">
        DELETE FROM `collection`
        WHERE item_id = #{itemId} AND user_openid = #{userOpenid}
    </delete>

    <select id="findByUser" resultMap="collectionMap">
        SELECT
            c.id,
            c.item_id,
            c.user_openid,
            c.create_time,
            i.title AS item_title,
            i.type AS item_type,
            i.status AS item_status,
            i.image_urls AS item_image_urls
        FROM `collection` c
        LEFT JOIN `item` i ON c.item_id = i.id
        WHERE c.user_openid = #{userOpenid}
        ORDER BY c.create_time DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countByUser" resultType="long">
        SELECT COUNT(*) FROM `collection` WHERE user_openid = #{userOpenid}
    </select>

    <select id="isCollected" resultType="int">
        SELECT COUNT(*) FROM `collection` WHERE item_id = #{itemId} AND user_openid = #{userOpenid}
    </select>

</mapper>
